@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind&display=swap');

body{
    color: rgba(240, 255, 255, 0.9);
    background-color: rgb(53, 51, 60);
    font-family: 'Hind', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 16px 0;
    padding: 0;
    font-family: 'Archivo Black', sans-serif
}

.headerContainer{
    display: flex;
}

ul{
    list-style: none;
}

li{
    font-size: 1.25rem;
}

li>a{
    font-family: 'Archivo Black', sans-serif;
    color: rgba(240, 255, 255, 0.9);
    text-decoration: none;
}

main{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* class styling */

.header{
    background-image: url(./images/pier.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 900px;
}

.headerContainer{
    background-color: rgba(0, 0, 0, .7);
    padding: 0 15px;
}

.mainContainer{
    width: 1500px;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.servicesRow{
    margin: 15px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.serviceWrapper{
    width: 274px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviceIconContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D27A6C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcons{
    filter:  invert(75%) sepia(82%) saturate(244%) hue-rotate(325deg) brightness(100%) contrast(100%);
}

.serviceTitle{
    width: 100%;
    text-align: center;
}

.serviceContent{
    text-align: center;
}

.titleContainer{
    width: 50%;
}

.navListContainer{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNavList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rowContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imageLeftRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.imageRightRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.rowContent{
    width: 500px;
}
