@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind&display=swap');

body{
    color: rgba(240, 255, 255, 0.9);
    background-color: rgb(53, 51, 60);
    font-family: 'Hind', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 16px 0;
    padding: 0;
    font-family: 'Archivo Black', sans-serif
}

.headerContainer{
    display: flex;
}

ul{
    list-style: none;
}

li{
    font-size: 1.25rem;
}

li>a{
    font-family: 'Archivo Black', sans-serif;
    color: rgba(240, 255, 255, 0.9);
    text-decoration: none;
}

main{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* class styling */

.header{
    background-image: url(./images/pier.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 900px;
}

.headerContainer{
    background-color: rgba(0, 0, 0, .7);
    padding: 0 15px;
}

.mainContainer{
    width: 1500px;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.servicesRow{
    margin: 15px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.serviceWrapper{
    width: 274px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviceIconContainer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #6C5370;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceIcons{
    filter: invert(82%) sepia(3%) saturate(5696%) hue-rotate(44deg) brightness(90%) contrast(74%);
}

.serviceTitle{
    width: 100%;
    text-align: center;
}

.serviceContent{
    text-align: center;
}

.titleContainer{
    width: 50%;
}

.navListContainer{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNavList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rowContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.imageLeftRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.imageRightRow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.rowContent{
    width: 500px;
}

.leftP{
    text-align: end;
}

.dropDownWrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 15px;
}

/* Drop Down fr w3 */
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #6C5370;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #6C5370;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.footer{
    border: solid 1px #3A3E4A;
    background-color: #6C5370;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footerWrapper{
    width: 80%;
}